# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================
.venv/
venv/
env/

# ==========================================
# Jupyter Notebook
# ==========================================
.ipynb_checkpoints/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# Windows
# ==========================================
Thumbs.db
Desktop.ini

# ==========================================
# Python Distribution
# ==========================================
build/
dist/
*.egg-info/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Environment Variables
# ==========================================
.env
.env.*

# ==========================================
# Pytest / Coverage
# ==========================================
.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Raw Dataset
# ==========================================
datasets/raw/

# ==========================================
# DBeaver
# ==========================================
.metadata/